.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  opacity: 80%;
}

.navbar-line {
  border: none;
  height: 6rem;
  box-shadow: 0 1rem 1.6rem -0.6rem rgb(12, 10, 10);
  margin: -6rem auto 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
